.navbar-style {
  background-color: #191919;
  border-color: #191919;
  box-shadow: inset 0 5px 5px 0px black;
}

a {
  color: white;
  text-decoration: none;
}

html, body {
	background-color: #333;
	height: 100%;
	text-align: center;
}

.cover {
	padding: 0 20px;
}

.in {
	padding: 30px;
}